<div class="wrapper-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-md-offset-3">
        <div class="widget padding-md bg-white-alpha text-default">
          <div class="tab-content">
            <div>
              <% if flash[:alert] %>
                <% flash.each do |key, value| %>
                <div id="error_explanation" class="alert alert-danger alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-fw fa-times-circle"></i></button>
                  <i class="fa fa-info-circle"></i><strong> <%= flash.count %> prohibited this user from reset password:</strong>
                  <ul>
                    <%= content_tag :li, value %>
                  </ul>
                </div>
                <% end %>
              <% end %>

              <%= form_for @user, :url => password_reset_path(@token), :html => {:method => :put} do |f| %>

							<% if @user.errors.any? %>
						    <div id="error_explanation" class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-fw fa-times-circle"></i></button>
                  <i class="fa fa-info-circle"></i><strong> <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</strong>
						      <ul>
						      <% @user.errors.full_messages.each do |msg| %>
						        <li><%= msg %></li>
						      <% end %>
						      </ul>
						    </div>
						  <% end %>

						  <div class="form-group">
						    <%= f.label :email, 'Your email address' %><br />
						    <%= @user.email %>
						  </div>
              <div class="form-group">
                <%= f.label :password, 'Reset a password' %>
                <%= f.text_field :password, type:'password', class:'form-control', placeholder:'Enter password' %>
              </div>
              <div class="form-group">
                <%= f.label :password_confirmation, 'Password Confirmation' %>
                <%= f.text_field :password_confirmation, type:'password', class:'form-control', placeholder:'Re-type Password' %>
              </div>
              <%= f.submit "Reset a password", id: 'password_reset', class: 'btn btn-primary' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








