<div class="wrapper-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-md-offset-3">
        <div class="widget padding-md bg-white-alpha text-default">
          <ul class="nav nav-tabs">
            <li><a href='/login'><span class="text-default">Login</span></a></li>
            <li class="active"><a href='/users/new'><span class="text-default">Create an account</span></a></li>
            <li><a href='/password_resets/new'><span class="text-default">Forgot password?</span></a></li>
          </ul>
          <div class="tab-content">
            <div>
              <%= form_for(@user) do |f| %>
              <% if @user.errors.any? %>
              <div id="error_explanation" class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-fw fa-times-circle"></i></button>
                <i class="fa fa-info-circle"></i><strong> <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</strong>
                <ul>
                  <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
              <% end %>

              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control', placeholder: 'Enter nick name' %>
              </div>

              <div class="form-group">
                <%= f.label(:email, 'Email address') %>
                <%= f.text_field :email, class:'form-control', placeholder:'Enter email' %>
              </div>
              <div class="form-group">
                <%= f.label(:password, 'Create a password') %>
                <%= f.text_field :password, type:'password', class:'form-control', placeholder:'Enter password' %>
              </div>
              <div class="form-group">
                <%= f.label(:password_confirmation, 'Password Confirmation') %>
                <%= f.text_field :password_confirmation, type:'password', class:'form-control', placeholder:'Re-type Password' %>
              </div>
              <%= f.submit "I'm Ready!", id: 'create_user', class: 'btn btn-primary' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
