
<section class="wrapper-sm">
  <div class="container-fluid">
    <h2 class="headline">Listing Words</h2>
    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Word</th>
                <th>Sentence</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @words.each do |word| %>
              <tr>
                <td><%= word.name %></td>
                <td><%= word.sentences[0].content %></td>
                <td><%= link_to 'Show', word, class:"btn btn-info btn-sm" %>&nbsp;&nbsp;
                    <%= link_to 'Edit', edit_word_path(word), class:"btn btn-primary btn-sm" %>&nbsp;&nbsp;
                    <%= link_to 'Delete', word, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @words %>
        </div>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
