<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @word.name %>
</p>

<p>
  <b>Word type:</b>
  <%= @word.word_type %>
</p>

<p>
  <b>User:</b>
  <%= @word.user_id %>
</p>

<p>
  <b>Sentence:</b>
  <% @word.sentences.each do |sentence| %>
	  <p><%= sentence.content %></p><br />
  <% end %>
</p>


<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
