<!DOCTYPE html>
<html ng-app='flashcard'>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flashcard</title>
  <%= include_gon %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.ico', rel: 'shortcut icon' %>
  <meta name="msapplication-TileColor" content="#FFFFFF">
</head>
<body class="is-admin">
	<% if current_user %>
		<!-- Logged in as --> <%# current_user.email %>
		<%# link_to "Log out", logout_path %>
	<% else %>
		<%# link_to "log in", login_path %>
	<% end %>
	<% flash.each do |name, msg| %>
	<%# content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
  <div class="admin-wrapper">
    <aside class="admin-sidebar">
      <div class="sidebar-subheader">
        <%= image_tag current_user.avatar.url(:thumb), class: "img-circle", width: "100", height: "100", alt: current_user.name %>
        <p class="no-margin"><strong class="word-break"><%= current_user.name %></strong></p>
        <p><small><i class="fa fa-globe"></i> since <%= current_user.created_at.strftime("%Y-%m-%d") %></small></p>
        <p><a href="/users/<%= current_user.id %>/edit" class="btn btn-outline btn-primary">Edit Profile</a></p>
      </div><!-- /.sidebar-subheader -->
      <ul class="sidebar-nav">
        <li class="<%= 'active' if current_page?('/') %>">
          <a href="/">
            <i class="icon-grid"></i>
            Vocabulary Gallery
          </a>
        </li>
        <li class="<%= 'active' if current_page?('/words/new') %>">
          <a href="/words/new">
            <i class="icon-note"></i>
            Add a New Word
          </a>
        </li>
        <li class="<%= 'active' if current_page?('/words') %>">
          <a href="/words">
            <i class="icon-list"></i>
            Word Lists
          </a>
        </li>
        <li class="<%= 'active' if current_page?('/stats') %>">
          <a href="/stats">
            <i class="icon-bar-chart"></i>
            Statistics
          </a>
        </li>
        <li class="<%= 'active' if current_page?('/quizzes') %>">
          <a href="/quizzes">
            <i class="icon-game-controller"></i>
            Quizzes
          </a>
        </li>
        <li>
          <%= link_to logout_path do %>
            <i class="icon-logout"></i>
            Logout
          <% end %>
        </li>
      </ul><!-- /.sidebar-nav -->
    </aside><!-- /.sidebar -->
    <!-- Page content -->
    <main class="admin-content">
      <section class="wrapper-xs bg-secondary">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-4 col-md-6">
              <button type="button" class="btn btn-link" data-toggle="admin-sidebar">
                <span class="text-white"><i class="fa fa-fw fa-align-justify"></i> Menu</span>
              </button>
            </div><!-- /.col -->
            <div class="col-xs-8 col-md-6">
              <% if params[:controller] == 'words' && params[:action] == 'index' %>
                <%= form_tag(words_path, :method => "get", id: "search-form", class: "form-horizontal") do %>
                  <div class="row">
                    <div class="col-xs-3">
                    <label for="search" class="control-label">Word Search:</label>
                    </div>
                    <div class="col-xs-9">
                    <%= text_field_tag :search, params[:search], placeholder: "Search by keyword",id:"navbar-search", class: "form-control" %>
                    <%= submit_tag "Search", name: nil, id: 'search-submit', style: "display:none" %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.wrapper -->
      <!-- <section class="bg-custom-lg">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12 padding-lg">
              <h1><span class="text-white">A Super Duper</span></h1>
              <h3><span class="text-white">Admin Interface</span></h3>
              <p class="lead"><a href="#link" class="btn btn-outline btn-white">Try it now!</a></p>
            </div>
          </div>
        </div>
        <div class="padding-md bg-black-alpha">
          <div class="text-right">
            <h1><span class="icon-social-twitter"></span> @superAdmin</h1>
            <span class="h4">379</span> <em>Followers</em>
            <span class="h4">63</span> <em>Following</em>
            <span class="h4">120</span> <em>Posts</em>
          </div>
        </div>
      </section> -->
      <%= render 'parts/bread_crumbs' %>
      <%= yield %>
    </main><!-- /.admin-content -->
  </div><!-- /.admin-wrapper -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="assets/js/jquery-1.8.3.min.js"><\/script>')</script>
  <%= javascript_include_tag "application" %>
</body>
</html>
